* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background: #000000;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 20px;
  background-color: #ffffff;
  text-align: center;
}

a {
  color: #000000;
  text-decoration: none;
}

header {
  background: #5b9bd5;
  color: #ffffff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 8px 16px;
  height: 40px;
}

header a {
  color: #ffffff;
}

header > div.left {
  grid-column: 1;
  text-align: left;
}

header > div.center {
  grid-column: 2;
  text-align: center;
}

header > div.right {
  grid-column: 3;
  text-align: right;
}

nav {
  margin: 8px 0;
}

nav ul {
  display: grid;
  grid-auto-flow: column;
  list-style: none;
}

nav ul li {
  border-bottom: 1px solid #c0c0c0;
}

nav ul li.selected {
  border-bottom: 2px solid #5b9bd5;
  font-weight: bold;
}

nav ul li.selected a {
  color: #5b9bd5;
}

main {
  height: calc(100vh - 40px) !important;
  overflow: auto;
  display: flex;
  flex-flow: column;
}

main > div.page {
  display: none;
  flex: 1 1 auto;
}

main > div.page.selected {
  display: block;
}

span {
  display: block;
  background-color: #f2f2f2;
  margin: 4px 0;
  padding: 8px;
}

main ul {
  list-style: none;
}

input {
  font-size: 20px;
  text-align: center;
  width: 100%;
}

ul#teamList {
  text-align: center;
}

ul#playerList, ul#gameList, ul#playList {
  text-align: left;
}

ul#teamList li, ul#playerList li, ul#gameList li, ul#playList li {
  background-color: #f2f2f2;
  margin: 4px 0;
  padding: 8px;
}

ul#playerList li.inactive a {
  color: #c0c0c0;
}

div.fab {
  position: fixed;
  bottom: 16px;
  right: 16px;
}

div.fab a {
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 100%;
}

div.fab.blue a {
  background-color: #5b9bd5;
}

div.fab.red a {
  background-color: #c00000;
}

button {
  margin: 4px;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 24px;
}

button.green, button.red {
  font-size: 32px;
  font-weight: bold;
}

button.green {
  background-color: #00b050;
}

button.red {
  background-color: #c00000;
}

button.grey {
  background-color: #f2f2f2;
  color: #000;
  border: 1px solid #c0c0c0;
  padding: -1px;
}

button.blue {
  background-color: #5b9bd5;
  border-color: #5b9bd5;
}

button.white {
  background-color: #ffffff;
  border: 1px solid #5b9bd5;
  color: #5b9bd5;
}

.switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .25s;
  transition: .25s;
  border-radius: 26px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .25s;
  transition: .25s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #5b9bd5;
}

input:focus + .slider {
  box-shadow: 0 0 1px #5b9bd5;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}