@import url("https://fonts.cdnfonts.com/css/sf-pro-display");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background: #000000;
  font-family: "SF Pro Display", sans-serif;
  font-size: 1.5rem;
  background-color: #ffffff;
  height: 100%;
  text-align: center;
}

a {
  color: #000000;
  text-decoration: none;
}

header {
  background: #5b9bd5;
  color: #ffffff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 8px 16px;
  margin-bottom: 16px;
  height: 6vh;
}

header a {
  color: #ffffff;
}

header > div.left {
  grid-column: 1;
  text-align: left;
}

header > div.center {
  grid-column: 2;
  text-align: center;
}

header > div.right {
  grid-column: 3;
  text-align: right;
}

hr {
  margin: 16px 0px;
  border-top: 2px solid #5b9bd5;
}

nav {
  margin-bottom: 16px;
}

nav ul {
  display: grid;
  grid-auto-flow: column;
  list-style: none;
}

nav ul li.selected {
  border-bottom: 2px solid #5b9bd5;
  color: #5b9bd5;
  font-weight: bold;
}

main {
  height: 94vh;
  overflow: auto;
}

main > div {
  display: none;
}

main > div.selected {
  display: block;
}

ul#teamList {
  text-align: center;
}

input {
  font-size: 1.5rem;
  text-align:center;
  width: 100%;
}

ul#playerList, ul#gameList {
  margin-top: 16px;
  text-align: left;
}
