@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background: #000000;
  font-family: 'SF Pro Display', sans-serif;
  font-size: 24px;
  background-color: #ffffff;
  height: 100%;
  text-align: center;
}

a {
  color: #000000;
  text-decoration: none;
}

header {
  background: #5b9bd5;
  color: #ffffff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 8px 16px;
  margin-bottom: 16px;
  height: 44px;
}

header a {
  color: #ffffff;
}

header > div.left {
  grid-column: 1;
  text-align: left;
}

header > div.center {
  grid-column: 2;
  text-align: center;
}

header > div.right {
  grid-column: 3;
  text-align: right;
}

hr {
  margin: 16px 0px;
  border-top: 2px solid #5b9bd5;
}

nav {
  margin-bottom: 16px;
}

nav ul {
  display: grid;
  grid-auto-flow: column;
  list-style: none;
}

nav ul li.selected {
  border-bottom: 2px solid #5b9bd5;
  color: #5b9bd5;
  font-weight: bold;
}

main {
  height: calc(100vh - 60px);
  overflow: auto;
}

main > div {
  display: none;
}

main > div.selected {
  display: block;
}

ul#teamList {
  text-align: center;
}

input {
  font-size: 1.5rem;
  text-align:center;
  width: 100%;
}

ul#playerList, ul#gameList {
  margin-top: 16px;
  text-align: left;
}

li.inactive a {
  color: #cccccc;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  border-radius: 34px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  border-radius: 50%;
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .25s;
  transition: .25s;
}

input:checked + .slider {
  background-color: #5b9bd5;
}

input:focus + .slider {
  box-shadow: 0 0 1px #5b9bd5;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}