@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background: #000000;
  font-family: 'SF Pro Display', sans-serif;
  font-size: 20px;
  background-color: #ffffff;
  text-align: center;
}

a {
  color: #000000;
  text-decoration: none;
}

header {
  background: #5b9bd5;
  color: #ffffff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 8px 16px;
  height: 40px;
}

header a {
  color: #ffffff;
}

header > div.left {
  grid-column: 1;
  text-align: left;
}

header > div.center {
  grid-column: 2;
  text-align: center;
}

header > div.right {
  grid-column: 3;
  text-align: right;
}

hr {
  margin: 8px 0px;
  border-top: 2px solid #5b9bd5;
}

ul {
  list-style: none;
}

nav {
  margin-bottom: 8px;
}

nav ul {
  display: grid;
  grid-auto-flow: column;
}

nav ul li.selected {
  border-bottom: 2px solid #5b9bd5;
  font-weight: bold;
}

nav ul li.selected a {
  color: #5b9bd5;
}

main {
  height: calc(100vh - 40px);
  overflow: auto;
  display: flex;
  flex-flow: column;
}

main > div {
  display: none;
  flex: 1 1 auto;
}

main > div.selected {
  display: block;
}

main > span, main > div > span {
  display: block;
  margin: 4px;
}

ul#teamList {
  text-align: center;
}

input {
  font-size: 20px;
  text-align: center;
  width: 100%;
}

ul#playerList, ul#gameList {
  text-align: left;
}

li.inactive a {
  color: #7f7f7f;
}

button {
  margin: 4px;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-size: 24px;
}

button.made {
  background-color: #00b050;
}

button.missed {
  background-color: #c00000;
}

button.stat {
  background-color: #7f7f7f;
}

button.team {
  background-color: #5b9bd5;
}

.switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .25s;
  transition: .25s;
  border-radius: 26px;
}

.slider:before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .25s;
  transition: .25s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #5b9bd5;
}

input:focus + .slider {
  box-shadow: 0 0 1px #5b9bd5;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
